<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>


<h1>

    <a href="{%url 'home'%}">
        Brand ro'yxati

    </a>
</h1>



{% for course in courses %}
<a href="{% url 'car_by_brand' brand.id %}">{{ brand.name }}&nbsp;&nbsp;</a>
{% endfor %}

<h1>Mashinalar</h1>

<ul>
    {% for car in cars %}
    <li>Name: <a href="{% url 'detail' car.id %}">{{ car.name }}. </a></li>
    {% endfor %}

</ul>

</body>
</html>